/* header */
header{
    height: 55px;
}
header img{
    max-height: 40px;
}
nav{
    height: 50px;
}
.orange-hover:hover{
    color: orange;
    cursor: pointer;
}
.menu-hover:hover{
    background-color: #696565af;
    border-radius: 8px;
    cursor: pointer;
}
/* aside */
aside{
    width: 65px;
    transition: all .3s;
    background-image: url('../img/sidebar-bg.png');
    background-color: #091e34;
}

/* main content */
th img{
    width: 25px;
}

/* media queries */
@media screen and (min-width: 992px){
    aside{
        width: 150px;
    }
    .w-md-75{
        max-width: 60%;
    }
    #content-header{
        margin-top:-1rem;
    }
}

@media screen and (min-width: 768px){
    h1{
        font-size:2rem ;
    }
    .new-student{
        font-size: 1rem;
    }
    p.h1{
        font-size: 1rem;
    }
    th img{
        width: 25px;
        height: 25px;
    }
}